<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{layoutPadrao :: head}"></head>

<body>

	<div th:replace="~{layoutPadrao :: navbar}"></div>

	<main>
		<div class="cadastroBody">
			<div class="article-cdst">
				<h1>Inscreva-se</h1>
			</div>
			<div class="container shadow mb- rounded" id="main-contentCdst">
				<form action="#" th:object="${cliente}" th:action="@{/cadastro/incluir}" method="post">
					<div class=" row">
						<div class="col-lg-10">
							<label for="Nome" th:class="form-label"
								style="color: white; font-weight: 600; font-size: 17px; margin-top: 1vh;">Nome:</label>
							<input type="text" th:field="*{nome}" class="form-control" id="nomeInput-cdst"
								placeholder="Nome completo">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<label for="CPF" class="form-label"
								style="color: white; font-weight: 600; font-size: 17px; margin-top: 1vh;">C.P.F.
								:</label>
							<input type="text" th:field="*{cpf}" class="form-control" id="cpfInput-cdst"
								placeholder="000.000.000-00">
						</div>
						<div class="col-lg-2"></div>
						<div class="col-lg-4">
							<label for="Telefone" class="form-label"
								style="color: white; font-weight: 600; font-size: 17px; margin-top: 1vh;">Telefone:</label>
							<input type="tel" th:field="*{telefone}" class="form-control" id="telefoneInput-cdst"
								placeholder="(00) 00000-0000">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-7">
							<label for="E-mail" class="form-label"
								style="color: white; font-weight: 600; font-size: 17px; margin-top: 1vh;">E-mail:</label>
							<input type="text" th:field="*{email}" class="form-control" id="emailInput-cdst"
								placeholder="exemplo@email.com">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-7">
							<label for="Senha" class="form-label"
								style="color: white; font-weight: 600; font-size: 17px; margin-top: 1vh;">Senha:</label>
							<input type="password" th:field="*{senha}" class="form-control" id="senhaInput-cdst"
								placeholder="Informe a senha">
						</div>
					</div>
					<div class="form-check" style="color: white; font-weight: 400; font-size: 14px; margin-top: 20px;">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
						<label class="form-check-label" for="flexCheckChecked">
							Desejo receber e-mails e/ou SMS com promoções e informações regulares da TripTour.
						</label>
					</div>
					<div class="row">
						<button class="glow-button" type="submit">Cadastrar</button>
					</div>
				</form>
			</div>
		</div>
	</main>

	<footer>
		<div class="container-fluid" id="footerBase">
			<span class="baseItem">&copy; Recode Pro 2022</span>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
		integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
		crossorigin="anonymous"></script>

</body>

</html>